/* ============================================= */
/*              Variables                     */
/* ============================================= */


//Colors - Create at least 5 variables
        $white: #fff;

    $base-text: #777;
$primary-color: #58e1c1;
$default-color: #51ddfc;
$success-color: #63CC82;
   $info-color: #927bc1; 
  $error-color: #e4757a;
$warning-color: #FD7846;

//Map for button colors

$btns: (
  default: $default-color,
  success: $success-color,
     info: $info-color,
    error: $error-color,
  warning: $warning-color,
);



//Media Query Breakpoint- Creat at least 1

$brk-narrow : '(min-width: 768px)';

