/* ============================================= */
/*              Variables                     */
/* ============================================= */


//Colors - Create at least 5 variables
$white: #fff;

$base-text:#777;
$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$tertiary-color: #927bc1; 
$quarternary-color: #e4757a;


//Media Query - Creat at least 1



