/* ============================================= */
/*              Mixins                     */
/* ============================================= */



@mixin buttons($map) {
    @each $btn, $color in $map {
      .#{$btn} {
        background-color: $color;
        
       &:hover {
        background-color: lighten($color, 15%);
        transition: 0.5s;
      }
      }
    } 
  }
  
